<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper.ImgMapper">
    <!-- 查询 -->
    <select id="findImgById" parameterType="String" resultType="pojo.Img">
        SELECT * FROM t_img
        <where>
            <if test="_parameter!=null and _parameter!=' '">
                accountId = #{accountId}
            </if>
        </where>
    </select>

    <insert id="addImg" parameterType="pojo.Img">
      INSERT INTO t_img(accountId,img)value(#{accountId},#{img})
    </insert>
<!-- 更新 -->
    <update id="updateImg" parameterType="pojo.Img">
        <trim prefix="set" suffixOverrides=",">
            <if test="img!=null">img = #{img},</if>
        </trim>
        WHERE accountId = #{accountId}
    </update>

</mapper>