<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mapper文件的配置 -->
    <mappers>
        <mapper resource="Mapper/UserMapper"/>
        <mapper resource="Mapper/ArticleMapper.xml"/>
        <mapper resource="Mapper/ImgMapper.xml"/>
    </mappers>
</configuration>